<section>
  <div class="page-header">
    <h1>
      Reviews
      <a class="btn btn-primary pull-right" data-ui-sref="admin.reviews.create">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="review in vm.reviews" data-ui-sref="admin.reviews.edit({reviewId: review._id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="review.created | date:'mediumDate'"></span>
        by
        <span ng-if="review.user" ng-bind="review.user.displayName"></span>
        <span ng-if="!review.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="review.title"></h4>
      <p class="list-group-item-text" data-ng-bind="review.content"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="reviews.$resolved && !reviews.length">
    No reviews yet, why don't you <a data-ui-sref="admin.reviews.create">create one</a>?
  </div>
</section>
