
  <head>
    <link rel="stylesheet" type="text/css" href="/modules/eventstream/client/css/eventstream.css"/>
  </head>
  <div>
    <h2>ABOUT DJ ELO</h2>
    <div class="jumbotron">
      <img alt="logo.JS" class="img-responsive text-center" src="/modules/core/client/img/img-Social/DJELO2.png" align="left" hspace="20"/>
      <div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget tempus tellus. Nullam at lorem vitae lectus bibendum rhoncus. Quisque quis mauris in tellus finibus vehicula. Vestibulum id dui non augue eleifend commodo nec non metus. Praesent quam nisl, imperdiet ut dictum quis, viverra non dolor. Proin suscipit nisi vitae mi sagittis, a gravida mauris sollicitudin. Sed ornare ornare lacus, ut imperdiet massa. Aliquam non odio nunc. In id tellus et elit varius pharetra eget in libero. Vivamus interdum faucibus enim ut sodales. Vivamus mattis consequat ex, vitae ornare quam elementum sit amet. Fusce non leo massa. Nulla tristique justo metus, eu eleifend magna vestibulum nec. Donec nec consequat nulla. Nulla vehicula malesuada rhoncus.
        </p>
        <p>
          Integer id massa venenatis, scelerisque quam id, molestie neque. Pellentesque auctor pretium tortor a lacinia. Etiam fermentum quam odio, ut finibus eros volutpat quis. Nullam sit amet semper ipsum. Duis auctor sit amet mi eget interdum. Integer pulvinar accumsan ante nec porttitor. Maecenas et venenatis neque. Donec convallis pulvinar ex, vel sagittis ante. Pellentesque pretium, magna nec fringilla convallis, enim diam lacinia nibh, non ultricies sem sem ac justo. Quisque commodo dui rhoncus nulla vulputate faucibus.
        </p>
        <p>
          Morbi in condimentum nisi, vitae congue ex. Nunc a laoreet enim, ut maximus orci. Etiam est dui, iaculis quis quam quis, dapibus venenatis ligula. Maecenas quis neque vulputate, venenatis nunc sit amet, volutpat sapien. Donec a vulputate purus. Phasellus viverra dignissim sagittis. Fusce commodo erat id turpis tempor ultrices. Fusce iaculis, ante ac elementum accumsan, quam lacus cursus nisi, vitae sagittis libero orci nec lectus. Praesent turpis metus, vehicula vitae porttitor sed, vestibulum eleifend elit. Nunc rhoncus risus eu massa porta imperdiet. Aliquam erat volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus aliquam sapien ut lacinia posuere. Integer pretium sed nulla quis egestas. Pellentesque quis sapien at purus mattis ultricies vitae et mi. Fusce ligula ante, dictum quis lorem sit amet, tincidunt tincidunt neque.
        </p>
      </div>
    </div>
  <!--  <div>
      <p>
        <a class="btn btn-primary btn-lg" href="http://meanjs.org" target="_blank" style="margin-left: 20px">Back</a>
      </p>
    </div>-->

  </div>
