<div class="image">
  <div  class="textTop">
    <h1>
    <img src="/modules/core/client/img/nav/ELO_LOGO_COLOR.png" alt="ELO LOGO" style="width:209;height:223px;">
    </h1>
  </div>
</div>
<!-- Navbar using bootstrap -->
<nav class="navbar top navbar-expand-lg" id = "navbar-font" >
  <div class="collapse navbar-collapse" id="navbarNavDropdown" ng-controller="HeaderController as vm">
    <ul class="navbar-nav">
      <!-- inside each href put the link to the proper page -->
      <li class="nav-item">
        <a class="nav-link" ui-sref="eventstream.list">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  ui-sref="about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Shop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="photo">Photos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref="blogpost.list">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref="reviews.list">Reviews</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>
