<section>
  <div class="page-header">
    <h1>Event Stream</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="eventstream in vm.eventstream" ui-sref="eventstream.view({ eventstreamId: eventstream._id })" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="eventstream.created | date:'mediumDate'"></span>
        by
        <span ng-if="eventstream.user" ng-bind="eventstream.user.displayName"></span>
        <span ng-if="!eventstream.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="eventstream.title"></h4>
      <p class="list-group-item-text" ng-bind="eventstream.content"></p>
    </a>
  </div>
</section>
