<!-- Allows new review to be created -->
<head>
  <link rel="stylesheet" href="/modules/core/client/css/eventstream.css">
    <link rel="stylesheet" href="/modules/core/client/css/reviews.css">
</head>

<section>
  <div class="page-header">
    <h1>{{vm.review._id ? 'Edit Review' : 'Submit a New Review'}}</h1>
  </div>
<!--  <div class="pull-right">
    <a ng-show="vm.review._id" class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>-->
  <div class="col-md-12">
    <form name="vm.form.reviewForm" class="form-horizontal" ng-submit="vm.save(vm.form.reviewForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="title">Title</label>
          <input name="title" type="text" ng-model="vm.review.title" id="title" class="form-control" placeholder="Title" required autofocus>
          <div ng-messages="vm.form.reviewForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Review title is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="content">Name</label>
          <textarea name="user" data-ng-model="vm.review.user" id="user" class="form-control" placeholder="Name"></textarea>
        </div>
        <div class="form-group">
          <label class="control-label" for="content">Review Content</label>
          <textarea name="content" data-ng-model="vm.review.content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
        </div>

        <div class="form-group">
          <button type="submit" class="btn pink">{{vm.review._id ? 'Update' : 'Submit'}}</button>
          <p style = "display:inline;padding: 10px; font-size: 18px; font-family: 'Sanchez', serif;font-style:italic;">Note: Reviews are subject to approval by the site admin.</p>
        </div>
      </fieldset>
    </form>
  </div>
</section>
