<head>
  <link rel="stylesheet" href="/modules/core/client/css/eventstream.css">
    <link rel="stylesheet" href="/modules/core/client/css/reviews.css">
        <link rel="stylesheet" href="/modules/core/client/css/shop.css">
</head>

<section>
  <div class="page-header center">
    <h1 class = "center">Reviews</h1>

  </div>

  <div style = "padding-left:50px;"><button type="button" class="btn pink btn-info btn-md pull-right" ui-sref = 'reviews.create'>Submit a Review</button></div>
 <!-- <div style = "padding: 20px;"><button type="button" class="btn btn-info btn-md" ui-sref = 'reviews.create'>Submit a Review</button></div> -->
  <div class="list-group">
    <a ng-repeat="review in vm.reviews | filter : review.approve !== true" ui-sref="reviews.view({ reviewId: review._id })" class="list-group-itemMOD">
  <!--  <div ng-Show = "review.approve">-->
        <h4 class="list-group-item-heading" ng-bind="review.title"></h4>
        <div class="list-group-item-text2">
          Posted on
          <span ng-bind="review.created | date:'mediumDate'"></span>
          by
          <span ng-if="review.user" ng-bind="review.user"></span>
          <!--<span ng-if="!review.user">Deleted User</span>-->
        </div>
        <p class="list-group-item-text2" ng-bind="review.content"></p>

      </a>
<!--  </div>-->
  </div>
</section>
