<section>
  <div class="page-header">
    <h1>Reviews</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="review in vm.reviews" ui-sref="reviews.view({ reviewId: review._id })" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="review.created | date:'mediumDate'"></span>
        by
        <span ng-if="review.user" ng-bind="review.user.displayName"></span>
        <span ng-if="!review.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="review.title"></h4>
      <p class="list-group-item-text" ng-bind="review.content"></p>
    </a>
  </div>
</section>
