<head>
  <link rel="stylesheet" href="/modules/contact/client/css/contacts.client.css">
</head>
<section>
  <div class="group" style="height:inherit;">
    <div class="group col-xs-12 col-xl-6 pull-left text-center" id="output">
      <div class="col-12 text-center">
        <h1>Calendar</h1>
      </div>
      <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=489h2m4jioa9g6klo2fj9rbijc%40group.calendar.google.com&amp;color=%23333333&amp;ctz=America%2FNew_York" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
    <script type="text/javascript">
    document.getElementById("output").innerHTML = vm.calendar.content;
    </script>
    <div class="group col-xs-12 col-xl-6 pull-right">
      <div class="col-12 text-center">
        <h1>Contact Me</h1>
      </div>
      <div class="form-appointment">
        <div class="wpcf7" id="wpcf7-f560-p590-o1">  <!--action="/landing-page-template-do-not-delete/#wpcf7-f560-p590-o1"-->
          <form name="vm.form.contactForm" ng-submit="vm.save(vm.form.contactForm.$valid)" class="wpcf7-form" method="post" novalidate>
            <fieldset>
              <div class="">
                <div class="col-xs-12 col-xl-6" >
                  <div>
                    <span class="wpcf7-form-control-wrap text-680">
                      <input name="text-680" type="text" ng-model="vm.contact.content.name" id="name" size="45" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" placeholder="Name" required autofocus>
                    </span><br>
                    <div ng-messages="vm.form.contactForm.content.name.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">Name is required.</p>
                    </div>
                  </div>
                  <div>
                    <span class="wpcf7-form-control-wrap email-680">
                      <input name="email-680" type="email" ng-model="vm.contact.content.email" id="email" size="45"  class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" placeholder="Email" required autofocus>
                    </span><br>
                    <div ng-messages="vm.form.contactForm.content.email.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">Email is required.</p>
                    </div>
                  </div>
                  <div>
                    <span class="wpcf7-form-control-wrap tel-630">
                      <input name="tel-630" type="tel" ng-model="vm.contact.content.phone" id="phone" size="45" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" placeholder="Phone" required autofocus>
                    </span><br>
                    <div ng-messages="vm.form.contactForm.content.phone.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">Phone is required.</p>
                    </div>
                  </div>
                  <div>
                    <span class="wpcf7-form-control-wrap textarea-398">
                      <textarea name="textarea-398" cols="40" rows="40" type="text" ng-model="vm.contact.content.message" id="message" size="45" class="wpcf7-form-control wpcf7-textarea" placeholder="Enter Your Message:" required autofocus></textarea>
                    </span>
                    <div ng-messages="vm.form.contactForm.content.Message.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">Please Enter a Message</p>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-xl-6">
                  <div class="col-xs-12 col-md-6 col-lg-12">
                    <h4>What is the nature of your request?</h4>
                    <p>
                      <span class="wpcf7-form-control-wrap radio-98">
                        <span class="wpcf7-form-control wpcf7-radio">
                          <span class="wpcf7-list-item">
                            <label><input type="radio" ng-model="vm.contact.nature.booking" name="radio-98" value="Booking" id="booking">&nbsp;
                              <span class="wpcf7-list-item-label">I would like to book DJ Elo</span>
                            </label>
                          </span>
                          <span class="wpcf7-list-item">
                            <label><input type="radio" ng-model="vm.contact.nature.info" name="radio-98" value="Information" id="info">&nbsp;
                              <span class="wpcf7-list-item-label">I am looking for information</span>
                            </label>
                          </span>
                          <span class="wpcf7-list-item">
                            <label><input type="radio" ng-model="vm.contact.nature.concern" name="radio-98" value="Concern" id="concern">&nbsp;
                              <span class="wpcf7-list-item-label">I am would like to express a concern</span>
                            </label>
                          </span>
                          <span class="wpcf7-list-item">
                            <label><input type="radio" ng-model="vm.contact.nature.other" name="radio-98" value="Other" id="other">&nbsp;
                              <span class="wpcf7-list-item-label">Other</span>
                            </label>
                          </span>
                        </span>
                      </span>
                    </p>
                  </div>
                  <div class="col-xs-12 col-md-6 col-lg-12">
                    <h4>Days of the week you are available:</h4>
                    <p>
                      <span class="wpcf7-form-control-wrap checkbox-465">
                        <span class="wpcf7-form-control wpcf7-checkbox">
                          <span class="wpcf7-list-item">
                            <label><input type="checkbox" ng-model="vm.contact.availability.monday" name="checkbox-465[]" value="Monday" id="monday">&nbsp;
                              <span class="wpcf7-list-item-label">Monday</span>
                            </label>
                          </span>
                          <span class="wpcf7-list-item">
                            <label><input type="checkbox" ng-model="vm.contact.availability.tuesday" name="checkbox-465[]" value="Tuesday" id="tuesday">&nbsp;
                              <span class="wpcf7-list-item-label">Tuesday</span>
                            </label>
                          </span>
                          <span class="wpcf7-list-item">
                            <label><input type="checkbox" ng-model="vm.contact.availability.wednesday" name="checkbox-465[]" value="Wednesday" id="wednesday">&nbsp;
                              <span class="wpcf7-list-item-label">Wednesday</span>
                            </label>
                          </span>
                          <span class="wpcf7-list-item">
                            <label><input type="checkbox" ng-model="vm.contact.availability.thursday" name="checkbox-465[]" value="Thursday" id="thursday">&nbsp;
                              <span class="wpcf7-list-item-label">Thursday</span>
                            </label>
                          </span>
                          <span class="wpcf7-list-item">
                            <label><input type="checkbox" ng-model="vm.contact.availability.friday" name="checkbox-465[]" value="Friday" id="friday">&nbsp;
                              <span class="wpcf7-list-item-label">Friday</span>
                            </label>
                          </span>
                        </span>
                      </span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <ul>
                  <li>
                    <p><strong>If you wish to book DJ Elo for an event, please describe in your message at what times you are available to speak and whether you wish to be contacted by phone or email.</strong></p>
                  </li>
                  <li>
                    <p><strong>If you have a question or concern, thank you for bringing them to my attention. I will attempt to answer as many questions and/or concerns as I can.</strong></p>
                  </li>
                </ul>
                <div style="text-align: center; padding-top: 2em; border-top: 1px solid rgb(153, 202, 129); margin-top: 1em;">
                  <button type="submit" class="btn btn-default" style = "background-color: deepskyblue; color: white; border-color: deepskyblue">Submit Message Request</button>
                </div>
                <div class="wpcf7-response-output wpcf7-display-none"></div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script>
  function clearElement(id) {
    var element = document.getElementById(id);
    element.value = "";
  }
  </script>
</section>
