<!-- Page for editing the shop items on admin side -->
<head>
  <link rel="stylesheet" href="/modules/core/client/css/shop.css">
  <link rel="stylesheet" href="/modules/core/client/css/eventstream.css">
</head>

<section>
  <div class="page-header center">
    <h1>Shop - Edit/Create</h1>
  </div>
  <div class = "row">
  <div ng-repeat="shop in vm.shops" data-ui-sref="admin.shops.edit({shopId: shop._id})" class="custom2">
      <a data-ui-sref="admin.shops.edit({shopId: shop._id})" style = "a:hover:#990099;">
        <div class="center">
          <h4 class="list-group-item-heading spacing" ng-bind="shop.title"></h4>
          <img class = "spacing"src="{{shop.urlImage}}" width="300px" height="300px"></img>
          <p class="list-group-item-text spacing" ng-bind="shop.content"></p>
          <a href="{{shop.url}}" target="_blank" class = "btn blue spacing">Shop Site</a>
        </div>
      </a>
    </div>
  </div>
</section>


﻿<!--<section>
  <div class="page-header">
    <h1>
      Shops
      <a class="btn btn-primary pull-right" data-ui-sref="admin.shops.create">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="shop in vm.shops" data-ui-sref="admin.shops.edit({shopId: shop._id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="shop.created | date:'mediumDate'"></span>
        by
        <span ng-if="shop.user" ng-bind="shop.user.displayName"></span>
        <span ng-if="!shop.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="shop.title"></h4>
      <p class="list-group-item-text" data-ng-bind="shop.content"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="shops.$resolved && !shops.length">
    No shops yet, why don't you <a data-ui-sref="admin.shops.create">create one</a>?
  </div>
</section>-->
