<section>
	<div class="page-header">
		<h1>{{vm.contact._id ? 'Approve / Deny Contact' : 'New Contact'}}</h1>
	</div>
	<div class="pull-right">

	</div>
	<div class="col-md-12">
		<form name="vm.form.contactForm" class="form-horizontal" ng-submit="vm.save(vm.form.contactForm.$valid)" novalidate>
			<fieldset>
				<div class="form-group" show-errors>
					<label class="control-label" for="title">Title</label>

					<input name="title" type="text" disabled = "disabled" ng-model="vm.contact.title" id="title" class="form-control" placeholder="Title" required autofocus style= " background-color: silver;" >
					<div ng-messages="vm.form.contactForm.title.$error" role="alert">
						<p class="help-block error-text" ng-message="required">Contact title is required.</p>
					</div>

				</div>
				<div class="form-group">
					<label class="control-label" for="content">Content</label>
					<textarea READONLY name="content" disabled = "disabled" data-ng-model="vm.contact.content" id="content" class="form-control" cols="30" rows="10" placeholder="Content" style= " background-color: silver;" >
					</textarea>
				</div>
				<div class="form-group">

					<a ng-show="vm.contact._id" class="btn btn-primary pull-right" ng-click="vm.remove()" style= "background:red; border-color: red; margin-left: 4px;">
						Delete
						<i class="glyphicon glyphicon-trash"></i>
					</a>

					<button type="submit" class="btn btn-default pull-right" style= "background: deepskyblue; border-color: deepskyblue; color: white;">{{vm.contact._id ? 'Allow' : 'Create'}}
						<i class = "glyphicon glyphicon-ok"></i>
					</button>

				</div>
			</fieldset>
		</form>
	</div>
</section>

<!-- take out the editing functions here for the admin side so that he can only update the true or
false field in the record object so that he can't actually change anything, he'll basically only
be deleting or updating the recording by deleting it or by posting it -->
