<head>
  <link rel="stylesheet" href="/modules/core/client/css/shop.css">
  <link rel="stylesheet" href="/modules/core/client/css/eventstream.css">
</head>

<section>
  <div class="page-header center">
    <h1>Shop</h1>
  </div>
  <div class = "row">
  <div ng-repeat="shop in vm.shops" class="custom2">
      <div class="center">
        <h4 class="list-group-item-heading spacing" ng-bind="shop.title"></h4>
        <img class = "spacing"src="https://drive.google.com/thumbnail?id={{shop.urlImage}}" width="300px" height="300px"></img>
        <p class="list-group-item-text spacing" ng-bind="shop.content"></p>
        <a href="{{shop.url}}" target="_blank" class = "btn blue spacing">Shop Site</a>
      </div>
    </div>
  </div>
</section>
