.control-label{

    font-size: 1.3em;
    padding:5px;
    font-weight: lighter;
    font-family: 'Sanchez', serif;
}

.divLine{
  border-style: inset;
  border-width: 1px;
  display:block;
  margin-left: 10px;
  margin-right: 10px;
  border-color: gray;
}

.form-control{
    font-size: 1.0em;
    padding:5px;
    color: black;
    font-weight: normal;
    font-family: 'Sanchez', serif;
}

.col-md-12{
  padding-top: 20px;
  padding-left:50px;
  padding-right:50px;
  border-radius: 20px;
/*  background: transparent;
  border: 5px solid #808080;
  box-shadow: 5px 5px 10px #000000;*/
}

.list-group{
  padding-right: 00px;
}

.list-group-itemMOD{
  margin: 10px;
  border-radius: 20px;
  display: block;
  /*background:#ffe6f0;
  border: 5px solid #660029;*/
  background: white;
  border: 5px solid #d9d9d9;

  box-shadow: 5px 5px 10px #000000;
  font-family: 'Sanchez', serif;
}

/*.list-group-itemMOD:hover{
text-decoration: none;
background: #ffb3d1;
border: 5px solid #660029;

}*/


.list-group-item-heading{
  font-size: 2.0em;
  color:black;
  padding: 20px;
  padding-bottom: 2px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  /*border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 20px;
  padding-bottom: 20px;
  background:#4d001f;*/

}

.list-group-item-text2{
  font-size: 20px;
  font-weight: bold;
  color:black;
  padding: 30px;
  padding-bottom: 25px;
  padding-top: 10px;

}
